* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#info {
    background-color: #e40982;
    color: white;
    text-align: center;
    padding: 10px;
}

#menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 350px;
    margin-bottom: 80px;
    margin-top: 15px;
}

#menu>li>a{
    text-decoration: none;
    color: #e40982;
}

.item{
    margin: 10px;
    list-style: none;
}

.ttprinc{
    color: #e40982;
    font-size: 70px;
}

#infop{
    display: flex;
    flex-direction: column;
    margin-top: px;
    margin-left: 350px;
    width: 800px;
}

#imgdestaque{
    display: flex;
    margin-left: 350px;
    justify-content: space-between;
    width: 1200px;
}

.imgprinc{
    width: 277.73px;
    height: 369.64px;
}

.divtitulo{
    margin-left: 350px;
}

.tituloimg{
    margin-top: 100px;
    color: #e40982;
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 17px;
    margin-bottom: 10px;
}